
.header{
    background-color: #336699;
    padding: 1px;
}
.header h1{
    padding: 10px;
    padding-left: 50px;
    color: #ffffff;
    font-family: Arial,"Helvetica Neue", Helvetica,  sans-serif;
}
.logo img{
    padding: 30px 5px 30px 5px;
    width: 250px;
}
ul.sidebar-nav{
    list-style: none;
    font-size: 15px;
    padding: 0 0 0 0;
    text-align: right;
    width: 250px;
    margin: 0 0 0 1px;
    border: 1px solid #999;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

}
ul.sidebar-nav li{
    border-bottom: 1px solid #999;
    padding: 13px 15px 13px 7px;

}
ul.sidebar-nav li a{
    color:#222;
    font-weight: 600;
    font-family: Arial,"Helvetica Neue", Helvetica,  sans-serif;

}
ul.sidebar-nav li a:hover{
    text-decoration: none;
}
ul.sidebar-nav li:hover{
    background-color: #ccc;
    transition: 0.5s;
}
div.dropdown_container {
    width:10px;
}

select.my_dropdown {
    width:auto;
}

/*IE FIX */
select#my_dropdown {
    width:100%;
}

select:focus#my_dropdown {
    width:auto\9;
}